
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.loader-wrapper {
  position: absolute;
  top: 200px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:transparent;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  
  .loader {
    height: 80px;
    width: 80px;
  }
  
  &.is-active {
    opacity: 1;
    z-index: 1;
  }
}

.is-loading {
  position: relative;
}

#fanyi-msg {
  position: relative;
  top: 100px;
}